<ion-view view-title="Account">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="First Name" ng-model="user.firstName" disabled>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Last Name" ng-model="user.lastName" disabled>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="Id" ng-model="user.id">
      </label>
      <button class="button button-block button-positive" ng-click="save()">
        Speichern
      </button>

    </div>
  </ion-content>
</ion-view>
